body {
   margin: 0;
   padding: 0;
   background-color: rgb(223, 220, 220);
   width: 100%;
   height: 100%;
}
#main {
   width: 90%;
   height: 60%;
   padding: 5px;
   margin: auto;
   margin-top: 10%;
}
#clock {
   display: block;
   width: 100%;
   height: 100px;
   margin: auto;
   margin-top: 10px;
   text-align: center;
}
#inner_clock {
   font-size: 60px;
   font-family: "Roboto", sans-serif;
}
#btn_container {
   display: block;
   width: 100%;
   margin: auto;
   margin-top: 10px;
   margin-bottom: 10px;
}
button {
   padding: 10px;
   font-size: 18px;
   font-weight: bolder;
   width: 100px;
   margin-left: 25px;
   margin-top: 20px;
   border: 1px solid black;
   border-radius: 10px;
   font-family: "Poppins", sans-serif;
}
#start {
   background-color: rgb(255, 70, 13);
   color: rgb(253, 226, 218);
}
#stop {
   background-color: rgb(13, 69, 255);
   color: rgb(207, 216, 247);
}
#reset {
   background-color: rgb(11, 105, 53);
   color: rgb(167, 248, 204);
}
#start:hover {
   cursor: pointer;
   background-color: rgb(250, 149, 119);
   color: black;
}
#stop:hover {
   cursor: pointer;
   background-color: rgb(98, 130, 236);
   color: black;
}
#reset:hover {
   cursor: pointer;
   background-color: rgb(65, 136, 97);
   color: black;
}
#start[disabled] {
   background-color: rgb(248, 186, 167);
   border: none;
   color: white;
}
#stop[disabled] {
   background-color: rgb(148, 169, 240);
   border: none;
   color: white;
}
#reset[disabled] {
   background-color: rgb(93, 150, 118);
   border: none;
   color: white;
}
#lap_btn {
   background-color: rgb(231, 48, 155);
   color: rgb(245, 217, 233);
}
#lap_btn[disabled] {
   border: none;
   background-color: rgb(235, 122, 187);
}
#lap_btn:hover{
   cursor: pointer;
   background-color: rgb(235, 122, 187);
}
#laps {
   margin: auto;
   text-align: center;
}
#laps span {
   width: 100%;
   font-family: "Roboto", sans-serif;
   font-size: 18px;
   padding: 2px;
}
